.app_dark_theme{
    --bg-color: #121223;
    --inverted-bg-color: #d5d5d5;
    --primary-color: #ec2fb9;
    --secondary-color: #1e8383;
    --inverted-primary-color: #2b2bde;
    --invrted-secondary-color: #069f7b;
}