.app_light_theme{
    --bg-color: #d5d5d5;
    --inverted-bg-color: #121223;
    --primary-color: #1f91dc;
    --secondary-color: #0f6b54;
    --inverted-primary-color: #ec2fb9;
    --inverted-secondary-color: #1e8383;
    --skeleton-color: #f19d9d;
    --skeleton-shadow: rgba(0 0 0 20%);

    // code
    --code-bg: #eee;
}
