.app.light{
    --bg-color: #d5d5d5;
    --inverted-bg-color: #121223;
    --primary-color: #1f91dc;
    --secondary-color: #35e7bc;
    --inverted-primary-color: #ec2fb9;
    --inverted-secondary-color: #1e8383;
}